body
{
    background-color: whitesmoke;
    margin-left: 20px;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

tr:hover 
{
    background-color: #f5f5f5;
}

#input_button
{
    background-color:  lightslategray;
}

.input_button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cell
{
    color: black;
}

.final_result
{
    font-size: xx-large;
    color: blue;
}